/* ===== Sophisticated ===== */
.sophisticated{
    background-color: #6419B2;
    font-family: 'Playfair Display', serif;
}

.sophisticated div{
    background-color: #9C3DFF;
}

.sophisticated h1, .sophisticated h2{
    color: #DDD;
}

.sophisticated p{
    background-color: #A956FF;
    color: #FFF;
}

.sophisticated a{
    background-color: #222;
    color: #BBB;
    font-weight: bold;
}


/* ===== Energetic ===== */
.energetic{
    background-color: #A22EB2;
    font-family: 'Electrolize', sans-serif;
}

.energetic div{
    background-color: #EB5EFF;
}

.energetic h1, .energetic h2{
    color: #ABFF53;
}

.energetic p{
    background-color: #ABFF53;
    color: #222;
}

.energetic a{
    background-color: #ABFF53;
    color: #222;
    font-weight: bold;
}


/* ===== Relaxed ===== */
.relaxed{
    background-color: #36BCFF;
    font-family: 'Amiri', serif;
}

.relaxed div{
    background-color: #31DCE8;
}

.relaxed h1, .relaxed h2{
    color: #444;
}

.relaxed p{
    background-color: #31E88E;
    color: #444;
}

.relaxed a{
    background-color: #36FF63;
    color: #444;
    font-weight: bold;
}


/* ===== Corporate ===== */
.corporate{
    background-color: #616e7c;
    font-family: 'Pontano Sans', sans-serif;
}

.corporate div{
    background-color: #afb52b;
}

.corporate h1, .corporate h2{
    color: #424242;
}

.corporate p{
    background-color: #d5d8db;
    color: #424242;
}

.corporate a{
    background-color: #c0cb33;
    color: #424242;
    font-weight: bold;
}


/* ===== Fun ===== */
.fun{
    background-color: #B2231F;
    font-family: 'Kurale', serif;
}

.fun div{
    background-color: #358ACC;
}

.fun h2{
    color: #FCFF76;
}

.fun h1 {
    background-color: #FCFF76;
    color: #FF2E28;
}

.fun p{
    background-color: #FF615C;
    color: #FCFF76;
}

.fun a{
    background-color: #FF2E28;
    color: #FCFF76;
    font-weight: bold;
}
